:root {
    font-size: 16px;
    --sidebar-color: #7FC6A4;
    --main-color: #5D737E;
    --card-color: #D6F8D6;
    --border-color: #55505C;
    --button-color: #5D737E;
    --profile-color: #FAF33E;
    --min-card-width: 400px;
    --icon-color: invert(30%) sepia(14%) saturate(429%) hue-rotate(223deg) brightness(92%) contrast(83%);
}

body {
    display: flex;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    background-color: var(--main-color);
    flex: 1;
    padding: 3rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

button {
    padding: .25rem .5rem;
    background-color: var(--button-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.footer {
    padding: .5rem;
    margin-top: auto;
    text-decoration: none;
    align-self: center;
}

.footer:visited {
    color: inherit;
}

.hidden {
    display: none;
}
/* SIDEBAR STYLING */
aside {
    display: flex;
    flex-direction: column;

    padding: 0 1rem 1rem;
    background-color: var(--sidebar-color);
    min-width: max-content;
    overflow-y: scroll;
}

.side-header {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--sidebar-color);
    padding-top: 1rem;
}

.side-btn {
    margin: 1rem 0;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.profile-pic {
    background-color: var(--profile-color);
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
}

.profile-name {
    align-self: center;
}

.project {
    cursor: pointer;
}

.project:nth-child(n+2) {
    margin-top: .5rem;
}

.side-icon {
    height: 1rem;
    position: relative;
    top: .3rem;
    filter: var(--icon-color);
}

.project:hover + .icons {
    display: flex;
    gap: .75rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

details {
    flex: 1;
}
/* END OF SIDEBAR STYLING */

/* CARD STYLING */
.task-card {
    background-color: var(--card-color);
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    box-shadow: 0.4rem 0.6rem 1rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    min-width: var(--min-card-width);
}

.task-title {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--border-color);
    width: 40%;
}

.task-description {
    padding-bottom: 1.5rem;
}

.task-details {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    width: 80%;
    padding-bottom: 1.5rem;
}

.notes {
    padding: 1.5rem;
    border: 5px solid var(--border-color);
    font-size: .75rem;
    width: 60%;
    text-wrap: balance;
    background-color: var(--button-color);
    border-radius: 1rem;
}
/* END OF CARD STYLING */