:root {
    font-size: 16px;
    --sidebar-color: #7FC6A4;
    --sidebar-width: 260px;
    --main-color: #5D737E;
    --card-color: #D6F8D6;
    --border-color: #55505C;
    --button-color: #5D737E;
    --profile-color: #FAF33E;
    --card-min-width: 700px;
    --card-padding: 3rem;
    --card-gap: 1.5rem;
    --icon-color: invert(30%) sepia(14%) saturate(429%) hue-rotate(223deg) brightness(92%) contrast(83%);
    --icon-small-size: 1rem;
    --icon-mid-size: 1.5rem;
    --icon-big-size: 2rem;
    --icon-large-size: 2.5rem;
}

body {
    display: flex;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    background-color: var(--main-color);
    flex: 1;
    padding: 3rem 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

button {
    padding: .25rem .5rem;
    background-color: var(--button-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.footer {
    padding: .5rem;
    margin-top: auto;
    text-decoration: none;
    align-self: center;
}

.footer:visited {
    color: inherit;
}

.invisible {
    display: none;
}
/* ICON STYLING */
.icon {
    filter: var(--icon-color);
}

.icon-small {
    width: var(--icon-small-size);
}

.icon-medium {
    width: var(--icon-mid-size);
}

.icon-big {
    width: var(--icon-big-size);
}

.icon-large {
    width: var(--icon-large-size);
}

.corner {
    align-self: flex-end;
    transform: translate(
        var(--icon-large-size),
        calc(-1*var(--icon-large-size))
    );
}
/* END OF ICON STYLING */

/* SIDEBAR STYLING */
aside {
    display: flex;
    flex-direction: column;

    padding: 0 1rem 1rem;
    background-color: var(--sidebar-color);
    width: var(--sidebar-width);
    overflow-y: scroll;
}

.side-header {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--sidebar-color);
    padding-top: 1rem;
}

.side-btn {
    margin: 1rem 0;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.profile-pic {
    background-color: var(--profile-color);
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
}

.profile-name {
    align-self: center;
}

.project {
    cursor: pointer;
}

.project:hover + .icons {
    display: flex;
    gap: .75rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

details {
    flex: 1;
}

summary {
    font-weight: bold;
    font-size: .9rem;
}

.task,
.new-task {
    font-size: .75rem;
    margin-top: .25rem;
}

.task:hover,
.new-task:hover {
    text-decoration: underline;
    text-decoration-color: var(--border-color);
}

.new-task {
    color: var(--border-color);
    list-style-type: none;
}
/* END OF SIDEBAR STYLING */

/* CARD STYLING */
.task-card {
    background-color: var(--card-color);
    border-radius: 1rem;
    padding: var(--card-padding);
    box-shadow: 0.4rem 0.6rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--card-gap);
    min-width: var(--card-min-width);
}

.title-row {
    display: flex;
    justify-content: center;
    margin-top: calc(-1*(var(--card-gap) + var(--icon-large-size)));
    width: 90%;
    position: relative;
}

.title-row::before {
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid var(--border-color);
    width: 70%;
}

.title-row:hover .icon {
    display: block;
    align-self: center;
    position: absolute;
    right: var(--icon-big-size);
}

.date-row {
    display: flex;
    justify-content: center;
    width: 90%;
    position: relative;
}

.date-row:hover .icon {
    display: block;
    align-self: center;
    position: absolute;
    right: calc(3*var(--icon-big-size));
}

.desc-row {
    display: flex;
    justify-content: center;
    width: 90%;
    position: relative;
}

.desc-row:hover .icon {
    display: block;
    align-self: center;
    position: absolute;
    right: var(--icon-big-size);
}

/* details row is tricky and needs more tinkering so i'll leave it for now */

.notes-row {
    display: flex;
    justify-content: center;
    width: 90%;
    position: relative;

    text-wrap: balance;
    border: .5rem solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--button-color);
    padding: 1rem 2.5rem 1rem 1rem;
}

.notes-row:hover .icon {
    display: block;
    align-self: center;
    position: absolute;
    right: 0;
}
/* END OF CARD STYLING */