:root {
    font-size: 16px;
    --side-color: #B4ADEA;
    --main-color: #50514F;
    --card-color: #FDFFF7;
    --border-color: #59FFA0;
    --icon-color: #59FFA0;
    --photo-color: #FFED65;
    --side-width: 10vw;
    --icon-big-width: 2rem;
    --icon-big-margin: calc(.5*var(--icon-big-width));
    --side-padding: 1rem;
    --main-padding: 3rem;
    --card-padding: 2rem;
}

/* BASE LAYOUT & STYLES */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

aside {
    width: var(--side-width);
    background-color: var(--side-color);
}

main {
    flex: 1;
    padding: var(--main-padding);
    padding-bottom: 0;
    background-color: var(--main-color);

    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    text-align: center;
    padding-bottom: .5rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}
/* END OF BASE LAYOUT & STYLES */

/* ICONS */
.icon {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(43%) saturate(3019%) hue-rotate(64deg) brightness(107%) contrast(103%);
}

.icon-big {
    width: var(--icon-big-width);
}
/* END OF ICONS */

/* SIDEBAR */
/* END OF SIDEBAR */

/* TASK CARD */
.task-card {
    background-color: var(--card-color);
    padding: var(--card-padding);
    border-radius: 1rem;
    box-shadow: 0.4rem 0.6rem 1rem rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-big {
    margin: var(--icon-big-margin);
    align-self: flex-end;
    transform: translate(
        var(--icon-big-width),
        calc(-1*var(--icon-big-width))
    );
}

.card-details {
    margin-top: calc(-1*(var(--icon-big-width) + 2*var(--icon-big-margin)));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
}

.task-title-wrapper {
    position: relative;
    padding-bottom: 1rem;
}

.task-title-wrapper:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -50%;
    right: 0;
    margin: auto;
    border-bottom: 2px solid var(--border-color);
    width: 200%;
}

.task-title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 0;
}

.task-desc {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.card-row {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

fieldset {
    width: 100%;
}

.task-notes {
    padding: 0;
    /* border: none; */
    font-size: .75rem;
    resize: none;
    width: 100%;
}
/* END OF TASK CARD */